<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Django Bulletin Board</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">


</head>

<body>
<h1><a href="/">Home</a></h1>
{% if request.user.userprofile.id %}
 <a href="{% url "users:profile" request.user.userprofile.id %}">My Profile</a><br>
 <a href="{% url "users:logout" %}">Logout</a>
{% endif %}

{% if not request.user.is_superuser %}
{% block content %}

{% endblock %}
{% else %}
    <h3>Please logout as superuser to use the thread.</h3>
{% endif %}
</body>
</html>
