{% extends "base.html" %}
{% block content %}

    <h1>{{ board.name }}</h1>
    Number of threads: {{ board.threads.count }}

    {% if threads %}
        {% for thread in threads %}
            <div class="thread">
                <a href="{% url "boards:thread_page" thread.id %}"><h4>{{ thread.title }}</h4></a>
                <p>Status: {% if thread.is_locked %} Locked {% else %} Open {% endif %}</p>
            {% if not request.user.userprofile.role == 0 %}
                    <form action="{% url "boards:lock_thread" %}" method="post">
                    {% csrf_token %}
                        <input type="hidden" name="thread_id" value="{{ thread.id }}">
                        <input type="submit" value="{% if thread.is_locked %}Unlock{% else %}Lock Thread{% endif %}">
                    </form>
            {% endif %}

                <p>Last post on {{ thread.get_latest_post.created }} by <a
                        href="{% url "users:profile" thread.get_latest_post.posted_by.id %}">{{ thread.get_latest_post.posted_by.user }}</a>
                </p>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}

