{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_anonymous %}
        <p>Please register <a href="{% url "users:register" %}">here</a></p>
    {% else %}
        <h1>Welcome {{ request.user.username }}</h1>

    {% endif %}

    <div>
        <h2><a href="{% url "boards:new_thread" %}">Create a thread</a></h2>
    </div>
    {% if request.user.userprofile.role == 2 %}
        <h2><a href="{% url "boards:new_board" %}">Create New Board</a></h2>
    {% endif %}

    <div>
        {% for board in boards %}
            <div class="board">
                <h3><a href="{% url "boards:board_page" board.id %}">{{ board.name }}</a></h3>
                {% if request.user.userprofile.role == 2 %}
                    <form method="post" action="{% url "boards:delete_board" %}">
                        {% csrf_token %}
                        <input type="hidden" name="board_id" value="{{ board.id }}">
                        <input type="submit" value="Delete Board">
                    </form>
                {% endif %}
                {% if board.threads.exists %}
                    <div class="thread">
                        <h4>
                            <a href="{% url "boards:thread_page" board.thread_with_latest_post.id %}">{{ board.thread_latest_post.title }}</a>
                        </h4>
                    </div>
                {% endif %}
                {% if board.thread_with_latest_post %}
                    <p>Thread with the most recent reply: {{ board.thread_with_latest_post }}</p>
                {% endif %}
                <p>Number of posts in this board: {{ board.total_posts }}</p>
                <p>Number of threads in this board:{{ board.threads.count }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}