{% extends "base.html" %}
{% block content %}
    <h1><a href="{% url "boards:board_page"  thread.board.id %}">{{ thread.board.name }}</a> > {{ thread.title }}</h1>
    <div class="thread-info">

    </div>
    {% for post in posts %}
        <div>
            {{ post.message }}
            <p>By: <a href="{% url "users:profile" post.posted_by.id %}">{{ post.posted_by }}</a> on {{ post.created }}
            </p>

        </div>
    {% endfor %}

    {% if not thread.is_locked %}
        <form method="post" action="{% url "boards:thread_page" thread.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <div>
            <h4>Thread is now locked. You cannot post comments anymore.</h4>
        </div>
    {% endif %}
    <hr>

{% endblock %}

