<div>
<form action="{% url "users:login" %}" method="post">
    <h3>Login</h3>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
</div>

<div>
    <h3>No existing account?</h3>
    <p><a href="{% url "users:register" %}">Sign Up</a></p>
       <p><a href="{% url "google_login" %}">Sign Up With Google</a></p>
</div>
