{% extends "base.html" %}
{% block content %}
    <p>Username:{{ user }}</p>
    <p>Account Status:{% if not user.is_banned %}Active{% else %}Banned{% endif %}</p>
    {% if not request.user.userprofile.role == 0 and user.role == 0 %}
        <form method="post" action="{% url "users:ban" %}">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input type="Submit"
                   value="{% if not user.is_banned %}
                        Ban Account
                        {% else %}
                        Unban Account
                        {% endif %}">
        </form>
    {% endif %}
    <div>
        <h4>Posts</h4>
        <ul>
            {% for post in user.recent_posts %}
                <li>
                    <div>
                        {{ post.message }}
                        <p>Posted on {{ post.thread }} at {{ post.created }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}